<!DOCTYPE html>
<html>
  <style>
       body
       {
         background-color: #eeeeee;
       }
       div
       {
         background-color: #66ac;
         padding-top: 150px;
         padding-right: 30px;
         padding-bottom: 150px;
         padding-left: 80px;
         text-align: center;
         color: #ffffff;
       }
       h1{font-size:5vw}
    </style>
</html>
